:root {
    --black: #2d2c2c;
    --red: #e72830;
    --gray: #6d6b6b;
    --med_gray: #e7e7e6;
    --light_gray: #f0f0f2;
    --green: #517d4e;
    --white: #fcfcf9;

    --light_red: #e72830cc;
    --light_green: #a4e337cc;
    --light_orange: #e38a31cc;

    --blue: #1C3B54;

}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Bold.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Italic.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Regular.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Mont";
    src: url("../font/Montserrat Webfont/Montserrat-Light.woff2") format("woff2"),
        url("../font/Montserrat Webfont/Montserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

html,
* {
    font-family: "Mont" !important;
}
img {
    max-width: 100%;
}

a {
    color: var(--black);
    transition: all 0.5s;
}

a:hover {
    text-decoration: none;
    opacity: 0.85;
    color: var(--gray);
}
p {
    font-weight: 300;
    line-height: 30px;
}
.error-message {
    color: var(--red);
    text-align: left;
    font-size: 14px;
    line-height: 10px;
}

#imgHolder {
    opacity: 0;
    z-index: -20;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
}
#imgHolder img {
    margin: 30px auto;
    max-height: 90%;
    max-width: 90%;
    /*
    border-radius:20px;
    -moz-box-shadow: 0px 10px 20px 0px rgba(200,235,235,1);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(200,235,235,1);
    box-shadow: 0px 0px 10px 5px #CCC;
*/
}
#imgHolder i {
    color: #000;
    background: #ccc;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 15%;
    top: 0;
    padding: 6px 12px;
}

.msgHolder {
    position: fixed;
    left: 0;
    right: 0;
    top: -120%;
    bottom: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 9999;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.msgHolder.showMsg {
    opacity: 1 !important;
    top: 0 !important;
    color: var(--white);
}
.msgHolder > div {
    padding: 20px 70px;
    max-width: 500px;
    margin: 20px;
    border-radius: 4px;
    background: #fff;
    width: 550px;
    max-width: 100%;
}
.msgHolder > span {
    display: block;
}
.msgHolder #msg.msg_white {
    background: #fff;
}
.msgHolder #msg.error {
    border: 3px solid #f97779;
    color: #f75558;
    background: url(../img/red_close.png) no-repeat right 14px center, url(../img/red_icon.png) no-repeat left 8px center;
    background-size: auto 20px, auto 50px;
    background-color: #fdd2d3;
}
.msgHolder #msg.success {
    border: 3px solid #65a762;
    color: #65a762;
    background: url(../img/green_close.png) no-repeat right 14px center, url(../img/green_icon.png) no-repeat left 8px center;
    background-size: auto 20px, auto 50px;
    background-color: #e8fee7;
}
.msgHolder #msg.warning {
    background: var(--light_orange);
}
.butn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    transition: all 0.5s;
}
.butn:focus, .butn:hover {
    transform: scale(1.01);
}
.butn:disabled, 
.loader{
    background-color: #999 !important;
    color: #fff !important;
    pointer-events: none !important;
}
.butn-green {
    background: var(--green);
}

.butn-red {
    background: var(--red);
}

.butn-gray {
    background: var(--gray);
}

.butn-gray-light {
    background: var(--med_gray);
}


.butn-blue-light {
    background-color: var(--blue);
    color: var(--white);
}

.butn-w100 {
    width: 88.5%;
    font-size: 24px;
    text-transform: uppercase;
}

.bg-icon-download {
    background-image: url(../img/Icon_Download.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 90% 14px;
}

.fixed_menu {
    position: fixed;
    top: 0px;
    z-index: 998;
}

.fixed_menu_shadow {
    box-shadow: 0 0 3px #999;
}

.margin_for_fixed_menu {
    margin-top: 100px;
}

.sides_padding {
    padding-right: 6% !important;
    padding-left: 6% !important;
}

.sides_padding_2 {
    padding-right: 3% !important;
    padding-left: 3% !important;
}

.sides_padding_3 {
    padding-right: calc(3% + 12px) !important;
    padding-left: calc(3% + 12px) !important;
}

.header {
    min-height: 1200px;
}

.bg-home {
    background-image: url(../img/FeatureImage_Home_Desktop.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% bottom;
}

.bg-no-photo {
    background-image: url(../img/FundingTurkey_BG_Blank_Concrete.webp);
    background-repeat: repeat-x;
    background-size: 100vw;
    background-position: 80% top;
    background-color: var(--white);
}

.bg-funds {
    background-image: url(../img/FundingTurkey_Funds_FeatureImage_short.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% bottom;
}

.bg-news {
    background-image: url(../img/FundingTurkey_News_FeatureImage_short.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% bottom;
}

.bg-faq {
    background-image: url(../img/FeatureImage_FAQ_Desktop.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% top;
}

.bg-contact {
    background-image: url(../img/FeatureImage_Contact_Desktop.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% top;
}

.header .top_part {
    padding: 20px;
}

.header .top_part .icons {
    text-align: right;
}

.header .logo img {
    float: left;
    height: 55px;
}

.header .mmenu {
    list-style: none;
    float: right;
    margin: 0;
    transition: all 0.5s;
}

.header .mmenu .top {
    display: none;
}

.header .mmenu a {
    padding: 18px;
    display: inline-block;
    color: var(--light_gray);
    font-size: 18px;
}
.header .mmenu a.active {
    background: var(--gray);
    color: var(--white);
}

.video_div {
    padding: 20px;
}
.video_div .info{
    padding: 0 40px;
    color: var(--black);
}
.video_div p{
    font-size: 20px;
}
.video_div img{
    width: 100%;
}
.video_div h1{
    font-weight: bold;
}
.video_div .video_frame div{
    margin-top: -50px;
    margin-left: 16px;
    line-height: 18px;
    text-transform: uppercase;
}
.video_div .video_frame div small{
    color: #333;
}
.video_div .video_frame div b{
    color: #444;
    font-size: 20px;
}
.features_div {
    background: url(../img/BG_Concrete_texture.webp);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.features_div .img img {
    height: 60px;
}

.features_div .img {
    text-align: center;
}

.features_div .info {
    padding: 10px 0;
}

.features_div .info h3{
    font-size: 24px;
}
.features_div .info p{
    font-size: 18px;
}

.features_div .img:after {
    content: "";
    height: 4px;
    background: var(--red);
    overflow: hidden;
    display: block;
    margin: 0 -15px;
}

.aboutus_div {
    position: relative;
}

.aboutus_div .info {
    min-height: 700px;
}

.aboutus_div .bg_img {
    background: url(../img/Home_Brutalism_Luxe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 350px;
    margin-bottom: 50px;
}

.aboutus_div .info .paragraph {
    padding: 20px;
    margin-bottom: 120px;
}

.aboutus_div .info h2 {
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.aboutus_div .info p {
    font-size: 16px;
    padding: 0 30px;
}

.aboutus_div .info .skewed {
    display: inline-block;
    position: absolute;
    bottom: -10px;
    z-index: 10;
    width: 100%;
    left: 0;
    right: 0;
    pointer-events: none;
}

.aboutus_div .info .skewed img {
    width: 100%;
}

.call2action {
    z-index: 20;
    text-align: center;
    padding-bottom: 50px;
}

.call2action p {
    margin: 0;
}

.call2action .skew_btn {
    background: var(--red);
    display: inline-block;
    padding: 14px;
    padding: 20px 50px;
    color: var(--white);
    border-bottom: 12px solid var(--med_gray);
    position: relative;
    margin-top: -120px;
}

.call2action .skew_btn .skewed img {
    width: 100%;
}

.call2action .skew_btn .skewed {
    width: 100%;
    display: inline-block;
    position: absolute;
    top: -36px;
    z-index: 10;
    width: 100%;
    left: 0;
    right: 0;
    pointer-events: none;
    color: #fff;
}

.call2action .skew_btn h3 {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

.call2action .skew_btn p {
    font-size: 16px;
}

.footer {
    background: var(--med_gray);
    padding: 40px;
    font-size: 10px;
}

.footer .logo img {
    height: 70px;
}

.footer .contact_info .info_clm {
    padding: 12px 30px;
    position: relative;
}

.footer .contact_info .info_clm img {
    height: 26px;
    margin: 0 5px;
    padding-bottom: 6px;
}

.footer .contact_info .info_clm span {
    position: relative;
}

.hideWeb {
    display: none;
}



.tabs_section h1, .accordion_section h1, .bg-faq h1 , .bg-contact h1 {
    text-align: center;
    padding: 30px 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.tabs_section h2 {
    text-align: center;
    padding-bottom: 30px;
}

.tabs_section .tabs_btns {
    border: 4px solid var(--gray);
    padding: 14px;
    margin-bottom: 50px;
    font-size: 22px;
    text-transform: uppercase;
}

.tabs_section .tabs_btns .tab_item {
    display: block;
    width: 100%;
    padding: 8px 18px;
    cursor: pointer;
}

.tabs_section .tabs_btns .tab_item.active {
    background: var(--red);
    color: var(--white);
}

.tabs_section .butn {
    width: 100%;
    text-align: center;
    margin: 10px auto;
}


/* .accordion_section .collapsing{
    margin-right: -15px;
    margin-left: -15px;
} */
.accordion_section .collapsed {
    transition: all 0.5s;
}
.accordion_section .accordion_header,  .accordion_section .accordion_header_dark{
    text-align: center;
}
.accordion_header .butn, .accordion_header_dark .butn{
    background-image: url(../img/Icon_Minimize.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 95% 50%;
    padding: 10px 10%;
}
.accordion_header.collapsed .butn{
    background-image: url(../img/Icon_Expand.svg);
    background-size: 20px;
}
.accordion_header_dark .butn{
    background-image: url(../img/Icon_Minimize_White.svg);
}
.accordion_header_dark.collapsed .butn{
    background-image: url(../img/Icon_Expand_White.svg);
    background-size: 20px;
}
.accordion_section .bg_img {
    background: url(../img/Home_Brutalism_Luxe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 500px;
    margin-bottom: 50px;
}
.dl-icon{
    background-image: url(../img/Download_Icon.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 95% 50%;
}
.accordion_section p {
    color: var(--black);
}

.redSeparator {
    height: 3px;
    background: var(--red);
    width: 95%;
    margin: 30px auto;
}

.redBox {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.redBox .brdr {
    border: 4px solid var(--red);
    position: absolute;
    width: calc(100% - 54px);
    left: 28px;
    right: 28px;
    bottom: 0;
    top: 0;
}
.redBox p{
    margin: 0;
}
.no_margin{
    margin: 0;
}
.bg_img_2{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    aspect-ratio: 1.7 / 2;
    margin-bottom: 30px;
}
.our_funds #sec_1 .bg_img_2{
    background-image: url(../img/REIF_FeatureImage.png);
}
.our_funds #sec_2 .bg_img_2{
    background-image: url(../img/REIF-Private_FeatureImage.png);
}
.our_funds #sec_3 .bg_img_2{
    background-image: url(../img/PT-VCF_FeatureImage.png);
}


.form_1 *{
    text-transform: uppercase;
}
.form_1{
    margin-bottom: 100px;
}
.form_1 h2{
    font-size: 18px;
    font-weight: bold;
}
.form_1 label{
    width: 100%;
    text-align: left;
    margin: 0;
}
.form_1 label small{
    font-size: 10px;
    font-style: italic;
}
.form_1 input[type=checkbox]{
    width: auto;
    margin-top: 0;
}
.h22px{
    height: 16px;
    margin-top: -8px;
}
.form_1 input, .form_1 textarea, .form_1 select{
    padding: 7px 30px;
    margin-top: 24px;
    width: 100%;
    border: none;
}
.form_1 button{
    color: var(--white);
    margin: 20px 0;
}
.form_div form{
    width: 400px;
    max-width: 100%;
    background: #e7e4de;
    background-image: url(../img/BG_Concrete_texture.webp);
    text-align: center;
    padding: 60px 36px 0px 36px;
    -webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 7.5%, 100% 0, 100% 100%, 0% 100%);
}
.faq_div {
    padding: 40px 0;
}
.accordion_header{
    text-align: center;
}
.accordion_content {
    margin: 20px 0;
}
.accordion_content h2{
    font-size: 30px;
    margin-bottom: 30px;
}
.accordion_content h3{
    font-size: 20px;
}
.accordion_content p{
    color: var(--gray-dark);
}
.accordion_content b{
    font-size: 19px;
    font-weight: 500;
}
.accordion_content bi {
    font-weight: bold;
    font-style: italic;
}

.blueBg{
    background-color: var(--blue);
}
.top_maring{
    margin-top: 100px;
}
.top_maring2{
    margin-top: 40px;
}
.items_hr{
    height: 40px;
}
.chartImg img{
    width: 100%;
}
@media (max-width: 576px) {
    
    .bg-home {
        background-image: url(../img/FundingTurkey_FeatureImage_Mobile.webp);
    }
    .bg-faq {
        background-image: url(../img/FundingTurkey_FeatureImage_FAQ_Mobile.webp);
        background-position: bottom;
    }
    .bg-contact {
        background-image: url(../img/FundingTurkey_FeatureImage_Contact_Mobile.webp);
    }

    .bg-faq.header, .bg-funds.header, .bg-news.header {
        min-height: 550px;
    } 
}

@media (max-width: 992px) {
    .hideMob {
        display: none;
    }
    .hideWeb {
        display: block;
    }
    .butn-w100 {
        width: 100%;
    }
    .header.bg-home{
        min-height: 900px;
    }

    .header .mmenu {
        background: var(--med_gray);
        ;
        width: 100%;
        position: relative;
        z-index: 10;
        padding-bottom: 60px;
        /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%); */
    }

    .header .mmenu a {
        color: var(--gray);
        display: block;
        text-align: center;
        font-size: 22px;
        padding: 12px;
    }
    
    .header .links_side {
        opacity: 0;
        padding: 0;
        top: -120%;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        z-index: 999;
        display: block;
        transition: all 0.5s;
    }

    .header .links_side .bg {
        height: 120%;
        background: #000d;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .header .links_side.show {
        opacity: 1;
        top: 0;
    }

    .header .mmenu .top {
        padding: 20px 40px;
        display: flex;
    }

    .header .mmenu .top div:nth-child(1) img {
        height: 58px;
    }

    .header .mmenu .top div:nth-child(2) {
        text-align: right;
    }

    .header .mmenu .top div:nth-child(2) img {
        height: 45px;
        margin: 5px 0;
        cursor: pointer;
    }

    .features_div .info h3 {
        font-size: 16px;
    }

    .features_div .info p {
        font-size: 12px;
        line-height: 20px;
    }

    .footer {
        text-align: center;
    }

    .footer .contact_info .info_clm span {
        display: block;
        position: relative;
        text-align: center;
    }

    .footer .logo img {
        margin: 20px;
    }

    .aboutus_div .info .skewed {
        display: none;
    }

    .call2action .skew_btn h3 {
        font-size: 22px;
    }

    .call2action .skew_btn p {
        font-size: 14px;
    }
    .redBox > div {
        padding: 10px 40px;
    }
    .redBox .brdr {
        bottom: 15px;
        top: 15px;
    }
    .accordion_header .butn{
        font-size: 18px;
    }
    .accordion_header .butn:hover, .accordion_header .butn:focus{
        transform: scale(1);
    }
    .tabs_section h1, .accordion_section h1, .bg-faq h1, .bg-contact h1 {
        font-size: 28px;
    }
    .accordion_content picture img{
        width: 100%;
        margin-bottom: 12px;
    }
    .video_div h1 {
        margin-bottom: 20px;
        line-height: 30px;
        font-size: 30px;
    }
    .accordion_header, .accordion_header_dark {
        padding: 0;
    }
    .sides_padding_3 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .video_div img {
        margin-top: 50px;
    }
    .bg-no-photo {
        background-size: auto;
    }
    .call2action .skew_btn {
        padding: 5px 30px;
        margin-top: 0;
    }
    .items_hr{
        height: 20px;
    }
    .chartImg img{padding: 40px 10%;
    }
}